
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body{
  overflow-x: hidden;
  font-family: "Rethink Sans", serif;
}
.custom-container {
  max-width: 1920px;
  margin: 0 auto; /* Center the container */
  padding: 0 15px; /* Add some padding for smaller screens */
  width: 100%;
}

@media (max-width: 1200px) {
  .custom-container {
    max-width: 1140px; /* Bootstrap's `container-lg` width */
  }
}

@media (max-width: 992px) {
  .custom-container {
    max-width: 960px; /* Bootstrap's `container-md` width */
  }
}

@media (max-width: 768px) {
  .custom-container {
    max-width: 720px; /* Bootstrap's `container-sm` width */
  }
}

@media (max-width: 576px) {
  .custom-container {
    max-width: 540px; /* Bootstrap's `container-xs` width */
  }
}


.padding-gap{
  padding: 60px 0px;
}

.margin-gap{
  margin: 60px 0px;
}



/* digital css and media query */


.digital-main-wrapper{
  background-color: #1F6861;
}

  
  .digital h3 {
    font-size: 70px;
    font-weight: 800;
    font-family: Rethink Sans;
    margin-top: 140px;
  }
  
  @media (max-width: 1200px) {
    .digital h3 {
      font-size: 60px;
      margin-top: 80px;
    }
  }
  
  @media (max-width: 992px) {
    .digital h3 {
      font-size: 50px;
      margin-top: 60px;
    }
  }
  
  @media (max-width: 768px) {
    .digital h3 {
      font-size: 40px;
      margin-top: 40px;
    }
  }
  
  @media (max-width: 576px) {
    .digital h4 {
      font-size: 29px;
    }
  
    .digital h5 {
      font-size: 20px;
    }
  
    .digital-btn {
      border: none;
      color: black;
      padding: 8px 15px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 1;
      transition: 0.9s;
      font-family: Rethink Sans;
      font-weight: 700;
      background-color: #00d4b7;
    }
  }
  
  @media (max-width: 375px) {
    .digital h3 {
      font-size: 30px !important;
      font-weight: 800;
      font-family: Rethink Sans;
      letter-spacing: 2px;
      padding: 5px;
    }
  
    .digital h6 {
      font-size: 16px !important;
      font-weight: 500;
      font-family: Rethink Sans;
      padding: 5px;
    }
  
    .digital {
      padding: 10px;
    }
  }
  

  /* MEMBER-SECTION START FORM HERE */
  /* .member-section{

  } */
  .member-section.panel{
    background-color: #F4FBF9;
    padding: 110px 0px;
  }
  .member-section.panel h3{
  text-align: center;
  margin-bottom: 60px;

  font-size: 60px;
  font-weight: 800;


  
  }
  
  .member-section .member-cards{
    background-color: #ffffff;
    box-shadow: 0px 4px 15px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .member-section .member-cards .profile-wrapper{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .member-section .member-cards .member-profile{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 10px solid #ffffff;
    background-color: #F0F0F0;
    width: 100%;
    max-width: 310px;
    height: 310px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0px #0000001A;

  }
  .member-section .member-cards .profile-wrapper .content h2{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    color: #1F6861;
  }
  .member-section .member-cards .profile-wrapper .content p{
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  /* MEMBER-SECTION END FORM HERE */