* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-wrapper {
  line-height: 0;
}

/* swiper silder   */
/* #container  {
  position: relative;
}
#navi,
#infoi {
  position: absolute;

}
#infoi {
  z-index: 10;
}
#navi{
  color: #1F6861;
  font-weight: 800;
  align-content: center;
}
#navi h3{
  font-size: 26px;
}
#navi p {
  font-size: 14px;
}
#navi p span{
  font-size: 14px;
  font-weight: 400;
}
#infoi h5{


} */
/* body{
  display:flex;
  align-items:center;
  justify-content:center;
  height:300px;
  width:100%;
} */
.swiper-wrapper {
  height: unset !important;
}
.swiper-container {
  position: relative;
  width: 90vw;
  height: 200px;
}
.swiper-container > .swiper-slide__content {
  position: absolute;
  top: 0;
}

.swiper-slide {
  height: 300px;
  display: flex;
  background: #eee;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
}
.swiper-slide__content {
  height: 300px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container {
  position: relative;
}
#navi,
#infoi {
  position: absolute;
}
.infoitext {
  position: absolute;
}
#infoi {
  z-index: 10;
}

* {
  box-sizing: border-box;
}
.box-foo-wrapper {
  padding: 50px;
  background-color: #e8f7f3;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.box-foo-wrapper::after {
  position: absolute;
  content: "";
  background-color: #29c192;
  width: 2px;
  height: 100%;
  right: 26px;
  bottom: 0;
  top: 26px;
}
.box-foo-wrapper::before {
  position: absolute;
  content: "";
  background-color: #29c192;
  width: 274px;
  height: 2px;
  top: 50%;
  right: 26px;
  bottom: 0;
}

.foo {
  color: #1f6861;
  font-size: 14px;
  font-family: Rethink Sans;
  font-weight: 600;
  max-width: 335px;
  margin-bottom: 74px;
}
.foo h3 {
  font-size: 40px;
  color: #1f6861;
  font-family: Rethink Sans;
  font-weight: 800;
  initial-letter: 10%;
}
.foo p {
  font-size: 14px;
  line-height: 18.23px;
}
.foo p span {
  font-weight: bold;
}
/* .bar {
  top: 300px;
  right: 150px;
} */

/* .fake-foobar {
  left: 162px;
  bottom: 100px;
  font-size: 19px;
  font-weight: 500;
  line-height: 24.74px;
} */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-bar-wrapper {
  margin-bottom: 70px;

  span {
    position: relative;
    color: #29c192;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h4 {
    color: #29613e;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

.title-bar-wrapper span::after {
  background-color: #00d4b7;
  position: absolute;
  content: "";
  width: 400px;
  height: 6px;
  left: calc(100% + 40px);
  top: 50%;
  transform: translateY(-50%);
}

.text-content-wrapper {
  padding-bottom: 60px;
}

.text-content-wrapper p {
  font-size: 20px;
  color: #232323;
  font-weight: 500;
  margin-bottom: 25px;
}

.text-content-wrapper span {
  font-weight: 700;
}

.text-content-wrapper h5 {
  color: #1f6861;
  font-size: 23px;
  font-weight: 500;
}

.main-key-features-wrapper h3 {
  font-size: 20px;
  font-weight: 600;
}
.main-key-features-wrapper .features-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 100px;
}

.main-key-features-wrapper .feature-box {
  max-width: 160px;
  text-align: start;
  span {
    color: #d6d6d6;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
  }
}

.feature-box {
  text-align: center;
  max-width: 400px;
}

.number-circle {
  background-color: #e2fdf6;
  color: #0c6157;
  border: 2px solid #0c6157;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 auto 10px;
}

.feature-title {
  color: #0c6157;
  font-size: 1rem;
  font-weight: 500;
}

.view-more-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

/* practice-img */
.practice-img {
  background-image: url("../img/reework.webp");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.reework img {
  width: 100%;
  margin-bottom: 30px;
}

.practice-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/image 12.png");
  background-size: cover;
  z-index: 1;
}

.practice {
  z-index: 2;
  color: white;
  position: relative;
}

.practice h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.practice p {
  font-weight: 500;
}

.practice button {
  background-color: #00d4b7;
  color: black;
  border: none;
  padding: 7px 20px;
  cursor: pointer;
}
.empower-img {
  background-image: url("../img/footer.webp");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.empower-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url("./img/Rectangle-93.png");
  background-size: cover;
  z-index: 1;
}

.empower {
  z-index: 2;
  color: white;
  position: relative;
}

.empower h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.empower button {
  background-color: #1f6861;
  color: white;
  border: none;
  padding: 7px 20px;
  cursor: pointer;
}

/*  media query */
@media (max-width: 1199px) {
  .feature-box {
    max-width: 100px;
  }
}

@media (max-width: 991px) {
  .title-bar-wrapper {
    margin-bottom: 60px;
  }
  .title-bar-wrapper span {
    font-size: 20px;
  }
  .title-bar-wrapper span::after {
    width: 100px;
    left: calc(100% + 10px);
  }

  .title-bar-wrapper h4 {
    font-size: 30px;
  }

  .features-box-wrapper {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .title-bar-wrapper {
    margin-bottom: 40px;
  }
  .title-bar-wrapper span {
    font-size: 18px;
  }
  .title-bar-wrapper h4 {
    font-size: 24px;
  }

  .practice-img,
  .empower-img {
    align-items: end;
  }

  .empower h2 {
    font-size: 30px;
  }

  .practice h2 {
    font-size: 21px;
  }

  .practice-img::before {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5)
      ),
      url("./img/image-12-mobile.png");
    background-size: cover;
  }
  .empower-img::before {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5)
      ),
      url("./img/Rectangle-93-mobile.png");
    background-size: cover;
  }
}

@font-face {
  font-family: "Rethink Sans"; /* Name your font family */
  src: url("RethinkSans-VariableFont_wght.ttf"); /* Locate the .ttf file within your directory*/
}

.text-green {
  color: #437454 !important;
}

.bg-green {
  background-color: #21e0aa !important;
  /* background-color: #F4FBF9 !important; */
}
.div {
  background-color: #ffffff 0%, rgba(20, 20, 20, 0.93);
}

.bg-success {
  background-color: #1f6861 !important;
}
.ff-rethink {
  font-family: Rethink Sans !important;
}

.section {
  padding: 80px 0px;
}

.fs-120 {
  font-size: 87px !important;
}

/* slider */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: start;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.9s;
  font-family: Rethink Sans;
  font-weight: 700;
  background-color: #00d4b7;
}

.btn:hover {
  opacity: 0.5;
}
.btn2 {
  padding: 10px;
  border: none;
  font-family: Rethink Sans;
}

.btn-group button {
  width: 140px;
  padding: 4%;
  font-family: Rethink Sans;
}
.clients {
  position: relative;
}
.clients img {
  width: 100%; /* Makes the image fill the container */
  height: 100%; /* Ensures the image fills the container height */
  object-fit: cover; /* Ensures the image scales without distortion */
}

.plans h5 {
  position: absolute;
  top: 20%;
  left: 48%;
  font-weight: 800;
  font-size: 60px !important;
  letter-spacing: 10px;
}
.plans p {
  position: absolute;
  top: 58%;
  left: 58%;
  font-weight: 600;
  font-size: 35px !important;
  letter-spacing: 1px;
}
.btn5 {
  position: absolute;
  bottom: 130px;
  left: 58%;
  background-color: #00d4b7;
  color: white;
  border: none;
  padding: 10px 35px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.zero {
  position: relative;
}
.zero img {
  width: 100%; /* Makes the image fill the container */
  height: 100%; /* Ensures the image fills the container height */
  object-fit: cover; /* Ensures the image scales without distortion */
}
.btn3 {
  position: absolute; /* Positions the button on top of the image */
  /* top: 30%; */
  top: 721px;
  left: 18%; /* Centers the button horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offsets the button to perfectly center it */
  background-color: #00d4b7;
  color: white; /* Text color */
  border: none; /* Removes the border */
  padding: 10px 53px; /* Adds padding inside the button */
  font-size: 19px; /* Font size */
  cursor: pointer; /* Makes the button clickable */
  border-radius: 5px; /* Optional: adds rounded corners */
  display: flex; /* Allows the icon and text to align properly */
  align-items: center; /* Vertically aligns the text and icon */
  font-weight: 500;
}
.btn4 {
  position: absolute;
  bottom: 5px;
  left: 43%;
  background-color: #00d4b7;
  color: white;
  border: none;
  padding: 10px 35px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* .btn3 {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.9s;
  font-family: Rethink Sans;
  font-weight: 700;
  background-color: #00d4b7;
  
  } */

.collapse {
  padding-top: 20px;
  font-family: Rethink Sans;
  font-weight: 600;
  size: 16px;
}

.hey {
  padding: 0px 15px !important;
}

.gift {
  /* margin: 100px; */
  margin-top: 28%;
  color: #1f6861;
}

.gift span {
  font-weight: 600;
  font-size: 30px;
}
.gift h3 {
  font-weight: 400;
  font-size: 26px;
}
.software img {
  margin-top: 50px;
  left: 100px !important;
  float: left;
}
.software {
  color: #1f6861;
  float: left;
}
.software h3 {
  font-weight: 500;
  font-size: 42px;
  color: 1f6861;
}
.friendly {
  color: #1f6861;
}
/* footer */
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #1f6861;
  line-height: 28px;
}
.footer-social-icon span {
  color: #231f1f;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-widget-heading h3 {
  color: #1f6861;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
/* footer end */

.login-group {
  background-color: #1f6861;
  border: none;
  font-style: Rethink Sans;
  line-height: 20.83px;
  position: relative;
}

.login-group::before {
  content: "";
  position: absolute;
  background-color: #00d4b7;
  width: 7px;
  height: 100%;
  top: 0;
  left: 0;
}

.login-group1 {
  background-color: #00d4b7;
  border: none;
  font-style: Rethink Sans;
  line-height: 20.83px;
  box-shadow: none;
}

.navbar {
  /* box-shadow: 0px 5px 10px 0px #48805b; */
  /* position: fixed; */
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  position: relative;
}

.navbar-line {
  width: 100%;
  height: 10px;
  background-color: #b3e5d7;
  display: block;
}

.carousel-item {
  /* height: calc(100vh - 96px); */
  height: 100vh;
}

.carousel-item img {
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  position: relative;
}

.carousel-item img::before {
  content: "";
  position: absolute;
  background-color: #cd1e1e95;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.left-caption {
  position: absolute;
  top: 65%;
  left: 5%;
  transform: translateY(-100%);
  text-align: left;
  padding-left: 15px;
}

.clients img::before {
  content: "";
  position: relative;
}

.left-caption2 {
  position: absolute;
}

.navbar-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 40px;
  height: 40px;
}
.caption h1 {
  font-size: 50px;
  font-weight: 600;
  transform: translateY(-150%);
  text-align: end;
  padding-left: 5px;
  top: 10px;
}
.black-text {
  color: black;
  font-size: 23px;
  font-weight: 500;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}

.why h5 {
  /* padding: 85px; */
  font-weight: 700;
  font-size: 33px;
}
/* card hedar */
.why p {
  font-weight: 800;
  color: #29c192;
  position: relative;
}
.why p::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 5px;
  background-color: #29c192;
  left: 158px;
  top: 10px;
}

/* REEWORK + REECOACH */
.whyy p {
  font-weight: 800;
  color: #29c192;
  position: relative;
  font-size: 23px;
}
.whyy p::before {
  content: "";
  position: absolute;
  width: 423px;
  height: 8px;
  background-color: #29c192;
  left: 292px;
  top: 12px;
}

.whyy h5 {
  font-size: 35px;
  font-weight: 700;
  font-style: Rethink Sans;
}

.Planner {
  text-align: center;
  display: flex;
}

.calories {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

/* card */
.card-title {
  font-size: 16px;
}

.card-body {
  width: 400px;
  font-weight: 600;
  font-family: Rethink Sans;
}

.col-sm-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
}

.digital h4 {
  font-size: 69px;
  font-weight: 500;
  font-family: Rethink Sans;
}
.digital h5 {
  font-size: 36px;
  font-weight: 500;
  font-family: Rethink Sans;
}

/* swiper silder */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: "Rethink Sans";
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.navbar-toggler {
  border: none !important;
  background: transparent; /* Make sure it’s clear if you want no background */
  box-shadow: none; /* Remove any shadow if present */
}

/* If you want to adjust the appearance when it's active or focused */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #117964;
}
.section {
  padding: 25px;
}
.reework-card {
  padding: 10px;
}

.reework .reework-card h5 {
  font-size: 21px;
  font-weight: 800;
}

.reework-card img {
  /* padding: 10px; */
  width: 142px;
  height: 142px;
}

.container {
  font-family: Rethink Sans;
}
.health h2 {
  color: #117964;
}

.health h5 {
  font-family: Rethink Sans;
  font-weight: 800;
  font-size: 35px;
}

.movement {
  background-color: #f4fbf9;
}

.reework-back-img {
  background-image: url("../img/Ellipse\ 1832.webp");
  width: 28%;
  height: 115px;
  margin-bottom: 30px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reework-back-img img {
  width: 55%;
  margin-bottom: 0px;
}

/*  */

/* accordion-wrapper-start */
.accordion-button:focus {
  box-shadow: unset;
}
.dion {
  font-weight: 800;
  /* font-size: larger; */
}

.carousel-caption h5 {
  font-size: 70px;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: 0.1em;
  text-align: left;
  max-width: 940px;
}
.carousel-caption p {
  font-size: 36px;
  font-weight: 500;
  line-height: 46.87px;
  letter-spacing: 0.05em;
  text-align: left;
}

.footernear {
  background-image: url("../img/footer.webp");
  height: 80%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empower h1 {
  font-weight: 800;
  /* letter-spacing: 23px; */
  font-size: 78px;
  font-family: Rethink Sans;
  line-height: 100px;
  left: 50px !important;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #666;
}

.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #00c1a4;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #008b7d;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
/* General Styles */
.bg-img {
  background: url("../img/footer.webp") no-repeat center center/cover;
}

.footernear h1 {
  font-size: 2rem; /* Responsive heading size */
}

.btn2 {
  background-color: #1f6861;
  color: white;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.btn2:hover {
  background-color: #15564a;
  transform: scale(1.05);
}
/* responsive */
@media (max-width: 1200px) {
  .desktop-wrapper {
    width: 100% !important;
  }
  .hey {
    padding: 15px 15px !important;
  }
  .carousel-caption h5 {
    font-size: 60px; /* Reduce font size for medium screens */
    line-height: 72px;
  }
  .carousel-caption p {
    font-size: 32px;
    line-height: 42px;
  }
  .health h2 {
    font-size: 29px !important;
    letter-spacing: -0.5px;
  }
  .health h5 {
    font-size: 24px !important;
  }
}
@media (max-width: 992px) {
  .carousel-caption h5 {
    font-size: 50px; /* Further reduce for smaller screens */
    line-height: 60px;
  }
  .carousel-caption p {
    font-size: 28px;
    line-height: 38px;
  }

  .carousel-item img {
    height: 100%;
    /* height: 450px; */
    object-fit: cover;
    position: relative;
  }

  .left-caption {
    top: 10%;
    transform: unset;
  }
}
@media (max-width: 768px) {
  .footernear h1 {
    font-size: 2.5rem; /* Larger heading for tablets and above */
  }
  .btn2 {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }
  .navbar {
    opacity: 0.95;
  }
  .empower {
    font-size: 10px;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .carousel-caption h5 {
    font-size: 40px; /* Even smaller for tablets */
    line-height: 50px;
  }
  .carousel-caption p {
    font-size: 24px;
    line-height: 34px;
  }

  .carousel-caption {
    margin-top: 250px;
  }
}
/* Smallest for mobile screens */
@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 30px;
    line-height: 40px;
  }
  /* .empower h1{
    font-size: 16px;
    font-weight: 600;
    margin-right: 200px;
    ;
  } */
  /* .footernear h1 {
    font-size: 8px; 
    line-height: 1.4;  
  } */
  /* .btn2 {
    font-size: 0.9rem; 
    padding: 0.6rem 1.5rem; 
  } */
  /* .empower {
    padding: 0 1rem; 
  } */
  .carousel-caption p {
    font-size: 20px;
    line-height: 28px;
  }
  .btn {
    padding: 12px 15px;
    font-size: 14px;
  }
  .health h2 {
    font-size: 20px;
  }
  .digital h4 {
    font-size: 29px;
  }
  .digital h5 {
    font-size: 20px;
  }
  .carousel-item {
    height: calc(100vh - 96px);
  }
  .why p::before {
    width: 130px;
    height: 3px;
    left: 178px;
    top: 13px;
  }
  .why p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .why h5 {
    font-size: 21px;
  }
  .reework-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .reework-card-border {
    border-bottom: 1px solid #437454;
  }
  .reework-card-border-top {
    border-top: 1px solid #437454;
    padding-top: 28px;
  }
  .reework-card h5 {
    display: block;
    width: 100%;
    text-align: start;
  }
}
